#!/bin/sh
### BEGIN INIT INFO
# Provides:          <PROGRAM_NAME>
# Required-Start:    $local_fs $network $named $time $syslog
# Required-Stop:     $local_fs $network $named $time $syslog
# Default-Start:     2 3 4 5
# Default-Stop:      0 1 6
# Description:       <PROGRAM_DESCRIPTION>
### END INIT INFO

SCRIPT=<PROGRAM_PATH>
RUNAS=<RUN_AS_USER>
PIDFILE=/var/run/<PROGRAM_PID_FILENAME>
LOGFILE=/var/log/<PROGRAM_LOG_FILENAME>

start() {
  if [ -f "$PIDFILE" ] && kill -0 $(cat $PIDFILE); then
    echo 'Service already running' >&2
    return 1
  fi
  echo 'Starting service...' >&2
  local CMD="$SCRIPT &> \"$LOGFILE\" & echo \$!"
  # if the user to run command have not a shell，you can use `-s` option to spectify a shell 
  # su $RUNAS -s /bin/bash -c "$CMD" > "$PIDFILE"
  su -c "$CMD" $RUNAS > "$PIDFILE"
  echo 'Service started' >&2
}

stop() {
  if [ ! -f "$PIDFILE" ] || ! kill -0 $(cat "$PIDFILE"); then
    echo 'Service not running' >&2
    return 1
  fi
  echo 'Stopping service...' >&2
  kill -15 $(cat "$PIDFILE") && rm -f "$PIDFILE"
  echo 'Service stopped' >&2
}

status() {
  if [ ! -f "$PIDFILE" ] || ! kill -0 $(cat "$PIDFILE"); then
    echo 'Service stopped' >&2
  else
    PID=`cat $PIDFILE`
    echo "Service (pid=$PID) is running" >&2
  fi

  return 1
}

force_quit() {
  if [ ! -f "$PIDFILE" ] || ! kill -0 $(cat "$PIDFILE"); then
    echo 'Service not running' >&2
    return 1
  fi
  echo 'Stopping service...' >&2
  kill -TERM $(cat "$PIDFILE") && rm -f "$PIDFILE"
  echo 'Service stopped' >&2
}

case "$1" in
  start)
    start
    ;;
  stop)
    stop
    ;;
  restart)
    stop
    start
    ;;
  force-quit)
    force_quit
    ;;
  status)
    status
    ;;
  *)
    echo "Usage: $0 {start|stop|restart|status|force-quit}"
esac
